In [25]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [26]:
df = pd.read_csv('pokemon.csv')
df.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   abilities          801 non-null    object
 1   against_bug        801 non-null    float64
 2   against_dark       801 non-null    float64
 3   against_dragon     801 non-null    float64
 4   against_electric   801 non-null    float64
 5   against_fairy      801 non-null    float64
 6   against_fight      801 non-null    float64
 7   against_fire       801 non-null    float64
 8   against_flying     801 non-null    float64
 9   against_ghost      801 non-null    float64
 10  against_grass      801 non-null    float64
 11  against_ground     801 non-null    float64
 12  against_ice        801 non-null    float64
 13  against_normal     801 non-null    float64
 14  against_poison     801 non-null    float64
 15  against_psychic    801 non-null    float64
 16  against_rock       801 non-null    float64
 17  against_steel      801 non-null    float64
 18  against_water      801 non-null    float64
 19  attack             801 non-null    int64
 20  base_egg_steps     801 non-null    int64
 21  base_happiness     801 non-null    int64
 22  base_total         801 non-null    int64
 23  capture_rate       801 non-null    object
 24  classfication      801 non-null    object
 25  defense            801 non-null    int64
 26  experience_growth  801 non-null    int64
 27  height_m           781 non-null    float64
 28  hp                 801 non-null    int64
 29  japanese_name      801 non-null    object
 30  name               801 non-null    object
 31  percentage_male    703 non-null    float64
 32  pokedex_number     801 non-null    int64
 33  sp_attack          801 non-null    int64
 34  sp_defense         801 non-null    int64
 35  speed              801 non-null    int64
 36  type1              801 non-null    object
 37  type2              417 non-null    object
 38  weight_kg          781 non-null    float64
 39  generation         801 non-null    int64
 40  is_legendary       801 non-null    int64
dtypes: float64(21), int64(13), object(7)
memory usage: 256.7+ KB

# Prepare

In [28]:
df = df.set_index('name')
df.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
name,,,,,,,,,,,,,,,,,,,,,
Bulbasaur,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
Ivysaur,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
Venusaur,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
Charmander,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
Charmeleon,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [29]:
df.isnull().sum()

abilities              0
against_bug            0
against_dark           0
against_dragon         0
against_electric       0
against_fairy          0
against_fight          0
against_fire           0
against_flying         0
against_ghost          0
against_grass          0
against_ground         0
against_ice            0
against_normal         0
against_poison         0
against_psychic        0
against_rock           0
against_steel          0
against_water          0
attack                 0
base_egg_steps         0
base_happiness         0
base_total             0
capture_rate           0
classfication          0
defense                0
experience_growth      0
height_m              20
hp                     0
japanese_name          0
percentage_male       98
pokedex_number         0
sp_attack              0
sp_defense             0
speed                  0
type1                  0
type2                384
weight_kg             20
generation             0
is_legendary           0
dtype: int64

In [30]:
df.type2 = df.type2.fillna('none')

In [31]:
df.percentage_male = df.percentage_male.fillna(-100.0)

In [32]:
df.weight_kg[df.index == 'Rattata'] = 3.5
df.weight_kg[df.index == 'Raticate'] = 18.5
df.weight_kg[df.index == 'Raichu'] = 30
df.weight_kg[df.index == 'Sandshrew'] = 12
df.weight_kg[df.index == 'Sandslash'] = 29.5
df.weight_kg[df.index == 'Vulpix'] = 9.9
df.weight_kg[df.index == 'Ninetales'] = 19.9
df.weight_kg[df.index == 'Diglett'] = 0.8
df.weight_kg[df.index == 'Dugtrio'] = 33.3
df.weight_kg[df.index == 'Meowth'] = 7.5
df.weight_kg[df.index == 'Persian'] = 32
df.weight_kg[df.index == 'Geodude'] = 20
df.weight_kg[df.index == 'Graveler'] = 105
df.weight_kg[df.index == 'Golem'] = 300
df.weight_kg[df.index == 'Grimer'] = 30
df.weight_kg[df.index == 'Muk'] = 30
df.weight_kg[df.index == 'Exeggutor'] = 120
df.weight_kg[df.index == 'Marowak'] = 45
df.weight_kg[df.index == 'Hoopa'] = 9
df.weight_kg[df.index == 'Lycanroc'] = 25

In [34]:
df.height_m[df.index == 'Rattata'] = .3
df.height_m[df.index == 'Raticate'] = .7
df.height_m[df.index == 'Raichu'] = .7
df.height_m[df.index == 'Sandshrew'] = .6
df.height_m[df.index == 'Sandslash'] = 1
df.height_m[df.index == 'Vulpix'] = .6
df.height_m[df.index == 'Ninetales'] = 1.1
df.height_m[df.index == 'Diglett'] = .2
df.height_m[df.index == 'Dugtrio'] = .7
df.height_m[df.index == 'Meowth'] = .4
df.height_m[df.index == 'Persian'] = 1
df.height_m[df.index == 'Geodude'] = .4
df.height_m[df.index == 'Graveler'] = 1
df.height_m[df.index == 'Golem'] = 1.4
df.height_m[df.index == 'Grimer'] = .9
df.height_m[df.index == 'Muk'] = 1.2
df.height_m[df.index == 'Exeggutor'] = 2
df.height_m[df.index == 'Marowak'] = 1
df.height_m[df.index == 'Hoopa'] = 6.5
df.height_m[df.index == 'Lycanroc'] = .8

In [35]:
df.isnull().any()

abilities            False
against_bug          False
against_dark         False
against_dragon       False
against_electric     False
against_fairy        False
against_fight        False
against_fire         False
against_flying       False
against_ghost        False
against_grass        False
against_ground       False
against_ice          False
against_normal       False
against_poison       False
against_psychic      False
against_rock         False
against_steel        False
against_water        False
attack               False
base_egg_steps       False
base_happiness       False
base_total           False
capture_rate         False
classfication        False
defense              False
experience_growth    False
height_m             False
hp                   False
japanese_name        False
percentage_male      False
pokedex_number       False
sp_attack            False
sp_defense           False
speed                False
type1                False
type2                False
weight_kg            False
generation           False
is_legendary         False
dtype: bool

In [36]:
df.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
name,,,,,,,,,,,,,,,,,,,,,
Bulbasaur,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
Ivysaur,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
Venusaur,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
Charmander,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,none,8.5,1,0
Charmeleon,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,none,19.0,1,0

# Explore

# What should my target variable be?

- I feel as though base_total should be the target variable since most attributes and stats probably correlate well with the overall base total
- Questions to be asked:

> Does size (height and weight) correlate with separate stat attributes (i.e. attack, defense, hp, sp_attack, sp_defense, speed) and in turn affect the base_total?
>
> Which type of pokemon is strongest/weakest?
>
> Can you use an algorithm to build the perfect team for specific scenarios?
>
> What factors influence the experience growth and egg steps?  Are those quantities correlated?
>
> Does base_happiness affect base_total stats?
>
> Can I predict the number of types of pokemon in subsequent generations?

---------------------------------------------------------------

# Goals and Deliverables

- My goal is to create an algorithm that accurate

In [54]:
df.base_total.describe()

count    801.000000
mean     428.377029
std      119.203577
min      180.000000
25%      320.000000
50%      435.000000
75%      505.000000
max      780.000000
Name: base_total, dtype: float64

In [55]:
stats = ['attack', 'defense', 'hp', 'sp_attack', 'sp_defense', 'speed']
stats

['attack', 'defense', 'hp', 'sp_attack', 'sp_defense', 'speed']

In [59]:
df[stats[5]]

name
Bulbasaur      45
Ivysaur        60
Venusaur       80
Charmander     65
Charmeleon     80
             ...
Celesteela     61
Kartana       109
Guzzlord       43
Necrozma       79
Magearna       65
Name: speed, Length: 801, dtype: int64

In [60]:
df.generation.value_counts()

5    156
1    151
3    135
4    107
2    100
7     80
6     72
Name: generation, dtype: int64

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
name,,,,,,,,,,,,,,,,,,,,,
Darkrai,['Bad Dreams'],2.0,0.5,1.0,1.0,2.0,2.0,1.0,1.0,0.5,...,-100.0,491,135,90,125,dark,none,50.5,4,1

In [72]:
df[df.base_total == 780]

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
name,,,,,,,,,,,,,,,,,,,,,
Mewtwo,"['Pressure', 'Unnerve']",2.0,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,-100.0,150,194,120,140,psychic,none,122.0,1,1
Rayquaza,['Air Lock'],0.5,1.0,2.0,1.0,2.0,0.5,0.5,1.0,1.0,...,-100.0,384,180,100,115,dragon,flying,206.5,3,1

In [75]:
df['Overall Rating'] = np.where(df.base_total > df.base_total.mean(), 'above_average', 'below_average')

In [76]:
df.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,Overall Rating
name,,,,,,,,,,,,,,,,,,,,,
Bulbasaur,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,1,65,65,45,grass,poison,6.9,1,0,below_average
Ivysaur,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,2,80,80,60,grass,poison,13.0,1,0,below_average
Venusaur,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,3,122,120,80,grass,poison,100.0,1,0,above_average
Charmander,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,4,60,50,65,fire,none,8.5,1,0,below_average
Charmeleon,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,5,80,65,80,fire,none,19.0,1,0,below_average

In [78]:
df = df.drop(columns=['japanese_name', 'pokedex_number'])

In [79]:
df.shape

(801, 39)